Source: enesim
Section: libs
Priority: optional
Build-Depends: debhelper (>= 6), cdbs, pkg-config, libglew-dev (>= 1.6.0),
  libpng12-dev, libjpeg-dev, libfreetype6-dev, libfontconfig1-dev
Build-Depends-Indep: doxygen
Maintainer: Jorge Zapata <jorgeluis.zapata@gmail.com>
Standards-Version: 3.9.1
Vcs-Browser: http://github.com/turran/enesim.git

Package: libenesim0
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Drawing library

Package: libenesim-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${misc:Depends}, libenesim0 (= ${binary:Version}), pkg-config,
  libglew-dev (>= 1.6.0), libpng12-dev, libjpeg-dev, libfreetype6-dev, libfontconfig1-dev,
Recommends: libenesim-doc
Description: Drawing library
 This package contains headers and static libraries for development with
 libenesim.

Package: libenesim-doc
Architecture: all
Pre-Depends: multiarch-support
Depends: ${misc:Depends}
Enhances: libenesim-dev
Section: doc
Description: Drawing library
 This package contains documentation for libenesim.


Package: libenesim-dbg
Architecture: any
Section: debug
Pre-Depends: multiarch-support
Depends: ${misc:Depends}, libenesim0 (= ${binary:Version})
Priority: extra
Description: Drawing library
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat easier
 to interpret core dumps. The libraries are installed in /usr/lib/debug and
 are automatically used by gdb.

